
.GreenHarpoon {
	margin-top: 10px;
	font-family: arial;

}

.ABrewersReserve {
	font-family: Helvetica;
}

.Wolverine {
	font-family: arial, Helvetica;
	font-style: italic;

}
.Conclusions {
	font-family: arial, Helvetica;
	font-style: oblique;
}